
<%= form_for(@saved_search) do |f| %>
    <div class ="row">
      <div class ="col-xs-8">
        <div class = "flight_type_style">
          <div class = "form-group">
            <div class="radio-btn-inner">
              <label>
                <%= f.radio_button :flight_type, "Round Trip",class: "radio-boxes-input", data: { radioactive: '' } %>
                Round Trip
              </label>
              <label>
                <%= f.radio_button :flight_type, "One Way",class: "radio-boxes-input", data: { radioactive: '' }%>
                One Way
              </label>
              <label>
                <%= f.radio_button :flight_type, "Multi City",class: "radio-boxes-input", data: { radioactive: '' }%>
                Multi City
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class ="col-xs-4">
        <div class ="economy_passenger_style">
          <div class= "row">
              <div class ="col-xs-3">
                <div class = "form-group">
                  <%= f.select :flight_class, flight_types_to_be_included,{}, class: 'form-control flight_type_styling' %>
                </div>
              </div>
              <div class ="col-xs-3">
                <div class = "form-group">
                  <div class ="passenger_div">1 adult</div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class ="row">
      <div class ="start_end_style">
        <div class ="col-xs-6">
          <div class ="form-group">
            <%= f.text_field :start, class: 'form-control text_boxes_styling city_field', placeholder: 'Where From? Enter City Name', id: "geocomplete" , required: true %>
          </div>
        </div>
        <div class = "col-xs-6">
          <div class = "form-group destination_box_styling">
            <%= f.text_field :end, class: 'form-control text_boxes_styling city_field', placeholder: 'Where To? Enter City Name', id: "geocomplete", required: true %>
          </div>
        </div>
      </div>
    </div>

    <div class ="row">
      <div class ="start_end_style">
        <div class ="col-xs-6">
          <div class ="form-group ">
            <%= f.text_field :date1, class: 'form-control text_boxes_styling datepicker1' , placeholder: 'Add Departure Date', required: true %>
            <% if false %>
            <div class="input-group-btn">
              <button class="btn btn-default"><i class="fa fa-calendar"></i></button>
            </div>
            <% end %>
          </div>
        </div>
        <div class = "col-xs-6">
          <div class = "form-group destination_box_styling">
            <%= f.text_field :date2, class: 'form-control text_boxes_styling datepicker2', placeholder: 'Add Return Date'%>
            <% if false %>
            <div class="input-group-btn">
              <button class="btn btn-default"><i class="fa fa-calendar"></i></button>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="navcontainer">
      <ul>
      <li><a href="#">Stops</a></li>
      <li><a href="#">Airline</a></li>
      <li><a href="#">Times</a></li>
      <li><a href="#">More</a></li>
      </ul>
    </div>
    <div class ="row">
      <div class ="start_end_style">
        <div class ="col-xs-3">
          <div class ="form-group ">
            <%= f.text_field :price_max, class: 'form-control small_text_boxes_styling', placeholder: 'Maximum Price XXX0000'%>
          </div>
        </div>
        <div class = "col-xs-3">
          <div class = "form-group price_min_box_styling">
            <%= f.text_field :price_min, class: 'form-control small_text_boxes_styling', placeholder: 'Minimum Price XXX0000'%>
          </div>
        </div>
        <div class = "col-xs-3">
          <div class = "form-group duration_box_styling">
            <%= f.text_field :duration, class: 'form-control small_text_boxes_styling', placeholder: 'Duration (in terms of hours)'%>
          </div>
        </div>
      </div>
    </div>

      <div class="actions">
        <%= f.submit "Create Search", class: 'button_styling' %>
<% end %>

<% if Airport.all.count == 0 %>
  <%= load_airports_data %>
<% end %>