<%if false %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class ="main_heading">
    <h1>Search Creator</h1>
  </div>
<div class = "col-md-9">
    <%= render 'form' %>
</div>
<div class = "col-md-8">
  <div class ="saved_search_heading">
    <h2>Saved Searches</h2>
  </div>
    <div class="tbl-app-listing table-responsive move_table_left listing_saved_search">
      <table id="dt-list" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Search Id</th>
            <th>Date1</th>
            <th>Date2</th>
            <th style="width: 20%;">To</th>
            <th style="width: 20%;">From</th>
            <th style="width: 12%;">Price High</th>
            <th style="width: 12%;">Price Low</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th style="width: 20%;"></th>
            <th style="width: 20%;"></th>
            <th style="width: 12%;"></th>
            <th style="width: 12%;"></th>
            <th></th>
            </tr>
          </tfoot>
          <tbody>
            <%= will_paginate @saved_searches %>
            <% @saved_searches.each do |ss| %>
              <tr>
                <td><%=ss.try(:id) %></td>
                <td><%=ss.try(:date1) %></td>
                <td><%=ss.try(:date2)  %></td>
                <td style="width: 20%;"><%=ss.try(:start)  %></td>
                <td style="width: 20%;"><%=ss.try(:end)  %></td>
                <td style="width: 12%;"><%=ss.try(:price_max)  %></td>
                <td style="width: 12%;"><%=ss.try(:price_low)  %></td>
                <td><%=ss.try(:duration)  %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <div class ="result_heading">
    <h2>Results</h2>
  </div>
    <div class="tbl-app-listing table-responsive move_table_left listing_saved_search">
      <table id="dt-list" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Search Id</th>
            <th>Price</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            </tr>
          </tfoot>
          <tbody>
            <%= will_paginate @results %>
            <% @results.each do |r| %>
              <tr>
                <td><%=r.try(:departure_time) %></td>
                <td><%=r.try(:arrival_time) %></td>
                <td><%=r.try(:saved_search_id)  %></td>
                <td><%=r.try(:flight_cost)  %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
<br>
<% if false %>
  <%= link_to 'New Saved search', new_saved_search_path %>
<% end %>
